body:has(.academic-persons-inline-edit) .section {
    overflow: unset !important;
}
body:has(.academic-persons-inline-edit) .frame-space-after-none {
    --frame-spacing: var(--frame-spacing-small);
}
body:has(.academic-persons-inline-edit) .sticky-top {
    z-index: 900 !important;
}
